<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MobilniUredCom">
    <meta name="author" content="Informatika FORTUNO d.o.o.">
    <title>MobilniUred.Com | Informatika FORTUNO d.o.o..</title>
    <link href="assets/landing/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/landing/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/landing/css/prettyPhoto.css" rel="stylesheet">
    <link href="assets/landing/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="assets/landing/images/ico/favicon.ico">
	<script type="text/javascript" src="assets/landing/js/warnCookies.js"></script>
	</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">

    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/pocetna"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>           
                        <li><a href="#portfolio">Značajke</a></li>
                        <li><a href="#pricing">Cijene</a></li>
                        <li><a href="#contact">Kontakt</a></li>
						<li><a href="#login" style="font-weight:bold">Prijava | Registracija</a></li>
                    </ul>
                </div>
            </div>
			
			<!-- Cookies warning -->
			<div id="cookiesWarning">
			</div>
			<script type="text/javascript">
			    checkCookieExist();
			</script>
			
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Ponude i računi na jednom mjestu.</h1><br>
						<p><a class="headerButton" href="/demo">Probna verzija - besplatno 30 dana</a></p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Brzo i lako izradi račun ili ponudu.</h1><br>
						<p><a class="headerButton" href="/demo">Probna verzija - besplatno 30 dana</a></p>
                    </div>
                </div>
            </div><!--/.item-->
			<div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Dostupno uvijek i na svim uređajima.</h1><br>
						<p><a class="headerButton" href="/demo">Probna verzija - besplatno 30 dana</a></p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-fiskalizacija icon-md icon-color6"></i>
                            <h4>Fiskalizacija</h4>
                            <p>Ugrađeno rješenje za fiskalizaciju tj. izdavanje i provjeru certifikata.</p>
                        </div>
                    </div><!--/.col-md-4-->
					<div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-sifarnici icon-md icon-color5"></i>
                            <h4>Šifarnici</h4>
                            <p>Modul za jednostavano i brzo upravljanje artiklima, operaterima i partnerima.</p>
                        </div>
                    </div><!--/.col-md-4-->
					<div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-racuni-ponude icon-md icon-color3"></i>
                            <h4>Računi i ponude</h4>
                            <p>Pregled, izdavanje i uređivanje ponuda i računa (transakcijski račun, novčanice, kartice i ostalo).</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Značajke</h2>
                    <p class="lead">MobilniUred je cloud CRM aplikacija za upravljanje izdavanjem računa i ponuda malih tvrtki,<br> obrta i drugih organizacija. Efikasan, jednostavan i povoljan.</p>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">Sve</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Šifarnici</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".html">Računi i ponude</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Profili</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Početna stranica" href="assets/landing/images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <h5>Početna stranica</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Dodavanje računa" href="assets/landing/images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                            <h5>Dodavanje računa</h5>         
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Izrada računa" href="assets/landing/images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                            <h5>Izrada računa</h5>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Pregled dokumenta" href="assets/landing/images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                            <h5>Pregled dokumenta</h5>        
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Statistika" href="assets/landing/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>Statistika</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Preuzimanje PDF računa" href="assets/landing/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                            <h5>Preuzimanje PDF računa</h5>         
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Statistika" href="assets/landing/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>Statistika</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="assets/landing/images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Preuzimanje PDF računa" href="assets/landing/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5>Preuzimanje PDF računa</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Cijene</h2>
                    <p class="lead">*Mjesečno. | *Izražene cijene ne uključuju PDV. | *Prvih <strong>30 dana besplatno</strong>.</p>
                </div><!--/.center-->   
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Demo - probna verzija</li>
                            <li class="plan-price">0 KN</li>
                            <li>Čuvanje podataka: 24 sata</li>
                            <li>E-mail podrška: 24/7</li>
                            <li>Telefonska podrška: 7h - 15h</li>
                            <li>Sigurna SSL veza: ne</li>
                            <li>Integracija s drugim sustavima: ne</li>
                            <li class="plan-action"><a href="/demo" class="btn btn-primary btn-lg">Isprobajte odmah</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Standardno</li>
                            <li class="plan-price">49.99 KN*</li>
                            <li>Čuvanje podataka: neograničeno</li>
                            <li>E-mail podrška: 24/7</li>
                            <li>Telefonska podrška: 7h - 15h</li>
                            <li>Sigurna SSL veza: da</li>
                            <li>Integracija s drugim sustavima: po dogovoru</li>
                            <li class="plan-action"><a href="#login" class="btn btn-success btn-lg">Registrirajte se</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Prilagođeno</li>
                            <li class="plan-price">Na upit</li>
                            <li>Čuvanje podataka: neograničeno</li>
                            <li>E-mail podrška: 24/7</li>
                            <li>Telefonska podrška: 7h - 15h</li>
                            <li>Sigurna SSL veza: da</li>
                            <li>Integracija s drugim sustavima: po dogovoru</li>
                            <li class="plan-action"><a href="mailto:fortuno@fortuno.hr" class="btn btn-primary btn-lg">Pošaljite upit</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Kontakt - O nama</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong><a target="_blank" href="http://www.fortuno.hr/" title="Informatika FORTUNO d.o.o.">Informatika Fortuno d.o.o.</a></strong><br>
                                    <strong>Adresa:</strong> Sajmište 2, 32000 Vukovar, Hrvatska<br>
									<strong>E-mail:</strong> <a title="Informatika Fortuno - elektronička pošta" href="mailto:fortuno@fortuno.hr">fortuno@fortuno.hr</a><br>
									<strong>Telefon:</strong> (+385) 32 341 223<br>
									<strong>Fax:</strong> (+385) 32 341 259
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Djelatnost:</strong> Izdavanje programske opreme (softvera) (72210)<br>
                                    <strong>MBS:</strong> 030091440 kod Trgovačkog suda u Osijeku<br>
                                    <strong>OIB:</strong> 99837487573<br>
									<strong>Matični broj:</strong> 2197910
                                </address>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Prijava na newsletter</h1>
                        <div class="row">
						<div class="col-md-6">
                            <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup input.email { 
display: block;
padding: 6px 0;
margin: 0 4% 15px 0;
text-indent: 5px;
width: 50%;
min-width: 208px;
margin-left: 6px;
line-height: 14px;
border-radius: 3px;
}
#mc_embed_signup {
background: #282828;
clear: left;
font: 14px;
width: 230px;
max-width: 230px;
border-radius: 3px;
}
#mc_embed_signup input.button {
display: block;
margin: 0 0 11px 0;
width: 215px;
min-width: 200PX;
margin-left: 1px;
}
#mc_embed_signup .button {
clear: both;
background: #3a87ad;
border: 0 none;
border-radius: 4px;
color: white;
font-size: 15px;
font-weight: bold;
height: 32px;
line-height: 30px;
padding: 0;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
}
#mc_embed_signup input {
margin-bottom: 15px;
border: 1px solid grey;
-webkit-appearance: none;
}
#mc_embed_signup form {
display: block;
position: relative;
text-align: left;
padding: 20px 0 8px 3%;
}
#mc_embed_signup label {
display: block;
font-size: 16px;
padding-bottom: 5px;
font-weight: bold;
color: white;
margin-right: 10px;
}
#mc_embed_signup input {
border: 1px solid grey;
-webkit-appearance: none;
height: 31px;
width: 65px;
margin-left: 8px;
border-radius: 3px;

#mc_embed_signup {
background:#33333; 
clear:left; 
font:14px Helvetica,Arial,sans-serif; }
</style>
<div id="mc_embed_signup">
<form action="//fortuno.us10.list-manage.com/subscribe/post?u=71bdd2657a429ec0347dd33aa&amp;id=103b2e76b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail adresa" style="color:#adadad">
</div>
<div class="mc-field-group">
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Ime i prezime" style="color:#adadad">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_71bdd2657a429ec0347dd33aa_103b2e76b3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Prijava" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
                    </div>
					<div class="col-md-6">
                                <ul class="social">
                                    <img src="assets/landing/images/email_newsletter.png" alt="Pretplatite se na MobilniUred newsletter" style="position:absolute; TOP:0px; LEFT:-50px;">
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->
	
	<section id="login">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6"> 
					<form id="loginKorisnika" action='' class="form-signin" method=POST>
                        <h1>Prijava</h1>
                        <p>Prijava za postojeće korisnike.</p>
						<div id="poruka2" class="hidden"></div>
                        <div class="status alert alert-success" style="display: none"></div>				
                        <div class="form-group">
                             <input placeholder="E-mail" type="text" name="email" id="email" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                             <input placeholder="Lozinka" type="password" name="password" id="password" class="form-control" value="" />
                        </div> 
                        <div class="form-group">                        
                            <div class="text-right">
                                 <a onclick="resetirajLozinku();" href="#!">Zaboravili ste lozinku?</a><br/>
                            </div> 
                            <div id="resetPass" style="display: none;"> 
                                 <label class="control-label" style="font-weight:normal">Upi&#353;ite Va&#353; E-mail i kliknite "Resetiraj"</label>
                                 <input type="text" name="mail" id="mail" class="form-control" value="" placeholder="E-mail" />                
                             </div>  
                        </div> 
                        <div class="text-center">
                             <input type="submit" id="submitLogin" name="submitLogin"  class="btn btn-primary" value="Prijava"/> 
                             <div id="resetButton" style="display: none;"> 
                                <input  type="submit" id="resetiraj" name="resetiraj"  class="btn btn-primary" value="Resetiraj"/>
                                <input  type="submit" id="odustani" name="odustani"  class="btn btn-primary" value="Odustani"/> 
                             </div>
                        </div>
                    </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6"> 
					<form id="operaterForm2" method="post" action='' class="form-signin">
                        <h1>Registracija</h1>
                        <p>Registracija za nove korisnike.</p>
						<div id="poruka" class="hidden"></div>
                            <div class="form-group">
                            <input placeholder="Ime" type="text" class="form-control" name="ime" />
                        </div>
                         <div class="form-group">
                            <input placeholder="Prezime" type="text" class="form-control" name="prezime" />
                        </div>     
                        <div class="form-group">
                            <input placeholder="E-mail" type="text" class="form-control" name="email" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Lozinka" type="password" class="form-control" name="password" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Ponovite lozinku" type="password" class="form-control" name="confirmPassword" />
                        </div>  
                        <div class="text-center">
                            <input type="submit" id="submitRegister" name="submitRegister"  class="btn btn-primary" value="Registracija"/>
                        </div>
                    </form>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#login-->
	
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://mobilniured.com" title="MobilniUred.Com">MobilniUred.Com</a>. Sva prava pridržana.
                </div>
                <div class="col-sm-6">
                    <a target="_blank" href="http://www.fortuno.hr/" title="Informatika FORTUNO d.o.o." class="pull-right">Izrada i održavanje: Informatika FORTUNO d.o.o.</a>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="assets/landing/js/jquery.js"></script>
    <script src="assets/landing/js/bootstrap.min.js"></script>
    <script src="assets/landing/js/jquery.isotope.min.js"></script>
    <script src="assets/landing/js/jquery.prettyPhoto.js"></script>
    <script src="assets/landing/js/main.js"></script>
</body>
</html>

<script type="text/javascript">

$(document).ready(function() {
        
    //LoadBootstrapValidatorScript(FormValidator);
    
    
    $('#operaterForm2').submit(function(evnt){
        //$('#submitRegister').attr("disabled", true);   
  
        evnt.preventDefault();
        $.post("<?php echo site_url().'stranica/register'; ?>",
        $("#operaterForm2").serialize(), 
        function (data) {
            var obj = $.parseJSON(data);

            if (obj.uspjelo == 0)
            {   
                $('#poruka').html(obj.poruka); 
                $('#poruka').removeClass( "hidden" ) 
                $('#poruka').show(); 
                  setTimeout(function() {
                    $('#poruka').fadeOut('fast'); 
                    }, 5000);
               
            }
            else
            {      
                $('#poruka').html(obj.poruka); 
                $('#poruka').removeClass( "hidden" ) 
                $('#poruka').show(); 
                
            }
        });

    });    
    
    
    $('#loginKorisnika').submit(function(evnt){
        //$('#submitRegister').attr("disabled", true);   
        
        evnt.preventDefault();
        $.post("<?php echo site_url().'stranica/login'; ?>",

        $("#loginKorisnika").serialize(), 
        function (data) {
                 
            var obj = $.parseJSON(data);

            if (obj.uspjelo == 0) 
            {   
                $('#poruka2').html(obj.poruka); 
                $('#poruka2').removeClass( "hidden" ) 
                $('#poruka2').show(); 
                  setTimeout(function() {
                    $('#poruka2').fadeOut('fast'); 
                    }, 5000);
               
            }
            else
            {   
                //redirect na pocetnu
                window.location.href = obj.url;  

            } 
        });

    });
    
    
    
      
    

}); 

function resetirajLozinku()
{
   
   
    if($("#resetPass").is(":visible"))
     {
        $("#submitLogin").removeClass("hidden"); 
        $("#resetPass").hide(); 
        $("#resetButton").hide(); 
     }
     else
     {
        $("#submitLogin").addClass("hidden");
        $("#resetPass").show(); 
        $("#resetButton").show(); 
 
     }
}


$('#odustani').click(function(evnt){
    evnt.preventDefault();      
    $("#submitLogin").removeClass("hidden"); 
    $("#resetPass").hide(); 
    $("#resetButton").hide();
});
  

$('#resetiraj').click(function(evnt){
        //$('#submitRegister').attr("disabled", true);   
        //posalji novi pass na navedenu email addresu
        //upisani pass mora postojati u bazi
        mail = $('#mail').val();
        
        evnt.preventDefault();
                
        $.post("<?php echo site_url().'registracija/resetPass'; ?>", {mail: mail},
         
        function (data) {
            var obj = $.parseJSON(data);

            if (obj.uspjelo == 0)
            {   
                $('#poruka2').html(obj.poruka); 
                $('#poruka2').removeClass( "hidden" ) 
                $('#poruka2').show(); 
                  setTimeout(function() {
                    $('#poruka2').fadeOut('fast'); 
                    }, 5000);
               
            }
            else
            {      
                $('#poruka2').html(obj.poruka); 
                $('#poruka2').removeClass( "hidden" ) 
                $('#poruka2').show(); 
                
                $("#submitLogin").removeClass("hidden"); 
                $("#resetPass").hide(); 
                $("#resetButton").hide(); 
                
            }
        });
        

});

</script>